# LOGISTIC REGRESSION 

- Author:**chaitanya**
- Data set name:**Heart Disease**
- Data set Source:**kaggle**
>Goal perform a **logistic regression** and find the **model** to **evaluate metrics**

# INTRODUCTION

- Introduction to Logistic Regression

Logistic Regression is a widely used statistical and machine learning technique for solving classification problems. Unlike linear regression, which predicts continuous numerical values, logistic regression is designed to predict the probability of an event belonging to a particular class. Typically, it is applied in cases where the dependent variable is categorical, such as yes/no, spam/not spam, disease/no disease, or pass/fail.

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [13]:
df =pd.read_csv('../data/heart_disease.csv')
df.head(2)

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,No,16.60,Yes,No,No,3,30,No,Female,55-59,White,Yes,Yes,Very good,5,Yes,No,Yes
1,No,20.34,No,No,Yes,0,0,No,Female,80 or older,White,No,Yes,Very good,7,No,No,No

In [15]:
df.shape

(319795, 18)

###there is 319795 rows and 18 columns.

In [17]:
df.isnull().sum()

HeartDisease        0
BMI                 2
Smoking             0
AlcoholDrinking     0
Stroke              0
PhysicalHealth      0
MentalHealth        0
DiffWalking         1
Sex                 0
AgeCategory         0
Race                0
Diabetic            0
PhysicalActivity    0
GenHealth           0
SleepTime           0
Asthma              0
KidneyDisease       0
SkinCancer          0
dtype: int64

`we r finding sum of null values in the data sett `

In [18]:
df.describe()

                 BMI  PhysicalHealth   MentalHealth      SleepTime
count  319793.000000    319795.00000  319795.000000  319795.000000
mean       28.325407         3.37171       3.898366       7.097075
std         6.356104         7.95085       7.955235       1.436007
min        12.020000         0.00000       0.000000       1.000000
25%        24.030000         0.00000       0.000000       6.000000
50%        27.340000         0.00000       0.000000       7.000000
75%        31.420000         2.00000       3.000000       8.000000
max        94.850000        30.00000      30.000000      24.000000

`we r desceibing the data set which have numerical values in it.`

In [ ]:
print("before dropping duplicates ", df   )